.parallax {
  /* The image used *

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
	background: #302f2f; /* fallback for old browsers */
}

#myname{
	font-family: 'Bangers';
}

#a{
	color: black;
}

.masthead {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: white;
  color: white;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


.dp{
	width: 200px;
	height: 200px;
	padding-top: 150px;
	padding-bottom: 98px;
	margin-left: auto;
	vertical-align: center;
	margin-right: auto;
	text-align: center;
	
}

#dp1{
	border-radius: 50%;
}

.back{
	
	color: white;
}

p{
	padding-top: 90px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Bangers';
	font-size: 50px;
	word-spacing: 8px;
	letter-spacing: 5px;
}

.buttons{
	font-size: 27px;
	text-align: center;
}

#intro{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	text-align: center;
	padding-bottom: 10px;
	color: #379bde;
	letter-spacing: 3px;
}


#me{
	padding-top: 135px;
	padding-bottom: 80px;
	text-align: center;
	font-family: 'Teko';
	word-spacing: 8px;
	letter-spacing: 5px;
	font-size: 50px;
	color: #379bde;
}

#about{
	background-color: #fafbff;
}

#list{
	display: inline;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 2.6;
	color: #2e2f36;
}

#para{
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #2e2f36;
	letter-spacing: 2px;
	font-size: 20px;
	margin-right: 10vh;
	margin-left: 10vh;
	line-height: 1.8;
	padding-bottom: 180px;
	padding-top: 30px;
}

#education{
	background-image: url(Images/qua-back.jpg);
	padding-bottom: 100px;
}

.colorr{
	color: white;
}

.card{
	margin-right: 100px;
	margin-left: 100px;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#school{
	padding-bottom: 20px;
}

#skills{
	background-color: #fafbff;
}

.skill{
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Merriweather', serif;
	letter-spacing: 2px;
	font-size: 15px;
	line-height: 1.8;
}

.skill2{
	padding-bottom: 40px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Merriweather', serif;
	letter-spacing: 2px;
	font-size: 15px;
	line-height: 1.8;
}

.skill3{

	padding-bottom: 40px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Merriweather', serif;
	letter-spacing: 2px;
	font-size: 15px;
	line-height: 1.8;
}

.skill4{

	padding-bottom: 40px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Merriweather', serif;
	letter-spacing: 2px;
	font-size: 15px;
	line-height: 1.8;
}

.skill5{

	padding-bottom: 150px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Merriweather', serif;
	letter-spacing: 2px;
	font-size: 15px;
	line-height: 1.8;
}

#projects{

	background-color: black;
	padding-bottom: 100px;
}

#imgs{

 	width: 100%;
 	height: 100%;
 	float: left;
}

.col{
	margin-bottom: 1.66%; 
}

#end{
	padding-top: 70px;
	text-align: center;
	font-family: 'Merriweather', serif;
	color: white;
	letter-spacing: 2px;
	font-size: 15px;
	padding-bottom: 70px;
	background: #1a1818;  /* fallback for old browsers */
}

#data{
	font-family: 'Teko';
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.overlay{

position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.container1 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.yash{
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.row1 {
    margin-left: -15px;
    margin-right: -15px;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
